@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/* Global */
* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}


/* init div-- */
#layer {
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	background-color:#0000007e;
	width:100vw;
	height:100vh;
    display: flex;
    justify-content: center;
    display: flex;
}

#inputForm {
    background-color: aliceblue;
    height: 60%;
    width: 75%;
    margin-top: 20%;
    border: 2px solid rgba(84, 84, 84, 0.625);
    border-radius: 2.3em;
    z-index:1;
    opacity: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.nameInput {
    display: flex;
    flex-direction: column;
    margin-top: 50%;
}

label {
    display: block;
}

/* Go Classic button-- */
#classic {
    height: 15%;
    width: 30%;
    font-size: 190%;
}
/* --Go Classic button */

#or {
    font-size: 190%;
}

#chooseInputText {
    font-size: 150%;
}

#choose {
    display: block;
}

#hpIndex{
    height: 80%;
    width: 30%;
    font-size: larger;
}

#go {
    height: 80%;
}
/* --init div */





/* page container */
.container {
    height: 100vh;
    margin: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* interactive scope-- */
.lifeCounter {
    background-color: cadetblue;
    height: 44%;
    padding: 4px;
    border: 3px solid rgb(16, 62, 46);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display {
    background-color:rgb(255, 172, 71);
    height: 80%;
    width: 80%;
    padding: 4px;   
    border: 3px solid black;
    align-self: center;
    display: flex;
    justify-content:center;
}


/* plus and minus buttons-- */
.PlusAndMinusButtons {
    background-color: rgb(103, 41, 189);
    width: 30%;
    padding: 4px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttonPlusFive, .buttonPlusOne, .buttonMinusOne, .buttonMinusFive {
    height: 20%;
    width: 100%;
    border: 1px solid black;
}

#plusFiveP1, #plusOneP1, #minusOneP1, #minusFiveP1, #plusFiveP2, #plusOneP2, #minusOneP2, #minusFiveP2 {
    height: 100%;
    width: 100%;
    font-size: 200%;
}
/* --plus and minus buttons*/




/* result block (main display block)-- */
.result {
    background-color: aquamarine;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mainDisplay {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lifePoints {
    font-family: 'Modern Antiqua', cursive;
    font-size: 500%;
}

.lifePointsText {
    font-size: medium;
    text-align: center;
    font-size: 150%;
}

.currentVarText {
    font-size: 120%;
}

.mainDisplay{
    height: 40%;
}
/* --result block (main display block) */



/* pass-- */
.passDisplay {
    width: 30%;
    height: 100%;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.passDiv {
    display: flex;
    height: 30%;
    flex-direction: column;
    justify-content: center;
}

.passButton{
    height: 70%;
    width: 86%;
    margin-left: 7%;
    font-size: 150%;
}
/* --pass */


/* bar that shows the result of the last rounds-- */
.roundBar {
    background-color: brown;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pastRounds {
    height: 100%;
    width: 15%;
    border: 1px solid black;
    background-color: rgb(227, 74, 74);
}

.turnNum {
    display: flex;
    justify-content: flex-start;
}

.numIndicator, .turnDisplay {
    display: inline;
    text-align: start;
}

.p1InTurn, .p2InTurn {
    display: block;
    background-color: rgba(0, 255, 255, 0.459);
    height: 40%;
    border: 1px solid black;
} 
/* --bar that shows the result of the last rounds */



/* divider */
#divider {
    height: 8%;
    width: 100%;
    background-color: darkolivegreen;
}

#yourTurnP1, #yourTurnP2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: calc(100%/3);
    margin: 2px;
    border: 1px solid black;
}


/* nav bar -- */
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 33.3333%;
    background-color: burlywood;
}

.navDiv, .reset, .menu {
    width: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#fullScreen, #resetButton {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#fullScreenImg {
    height: 30px;
}

#resetButtonImg {
    height: 30px;
}

#menuButton {
    text-decoration: none;
    color: inherit;
}


h1 {
    font-family: 'MedievalSharp', cursive;
    font-size: medium;
}

#menuImgDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#menuImg {
    height: 30px;
}
/* -- nav bar */





/*
#playerOne, #yourTurnP1 {
    transform: rotate(180deg) 
} 


*/